Node-red/flows.json
[{"id":"34c192ce.ef06ae","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a2b5b4dd.bf4cd8","type":"watson-conversation-v1","z":"34c192ce.ef06ae","name":"Customer Care Assistant","workspaceid":"ed440813-2a66-4c11-81b4-d7da20c0e45e","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/","timeout":"","optout-learning":false,"x":670,"y":340,"wires":[["3182cb96.2f9a44"]]},{"id":"aae9436.b937ac","type":"inject","z":"34c192ce.ef06ae","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["a2b5b4dd.bf4cd8"]]},{"id":"84e1262d.6bf2f8","type":"debug","z":"34c192ce.ef06ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":260,"wires":[]},{"id":"3182cb96.2f9a44","type":"function","z":"34c192ce.ef06ae","name":"Output","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"<br><br>\"+msg.payload.context.webhook_result_1.results[i].text;\n        \n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["84e1262d.6bf2f8","800fe7cd.2cf3f8"]]},{"id":"13a6a384.74862c","type":"function","z":"34c192ce.ef06ae","name":"Input","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["a2b5b4dd.bf4cd8","2c5d97c2.d98f88"]]},{"id":"c5e772bd.371e2","type":"ui_form","z":"34c192ce.ef06ae","name":"","label":"","group":"f5384594.c97c88","order":2,"width":8,"height":2,"options":[{"label":"Enter your Input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":460,"wires":[["13a6a384.74862c"]]},{"id":"2c5d97c2.d98f88","type":"ui_text","z":"34c192ce.ef06ae","group":"f5384594.c97c88","order":1,"width":8,"height":2,"name":"","label":"You","format":"{{msg.payload}}","layout":"col-center","x":490,"y":520,"wires":[]},{"id":"800fe7cd.2cf3f8","type":"ui_text","z":"34c192ce.ef06ae","group":"c4f97f12.43c27","order":1,"width":18,"height":15,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":380,"wires":[]},{"id":"f5384594.c97c88","type":"ui_group","z":0,"name":"Customer Support","tab":"7db7b2d.576f94c","order":1,"disp":true,"width":8,"collapse":false},{"id":"c4f97f12.43c27","type":"ui_group","z":"","name":"Bot Generated Response","tab":"7db7b2d.576f94c","order":2,"disp":true,"width":"18","collapse":false},{"id":"7db7b2d.576f94c","type":"ui_tab","z":"","name":"Customer Support UI","icon":"dashboard","disabled":false,"hidden":false}]